/* body {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}
 #top-bar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border: 1px solid rgb(224, 224, 224);
     box-shadow: 1px 1px 10px 1px whitesmoke;
     height: 47px;
     width: 228px;
     align-items: center;
     font-weight: 600;
 }

#buy {
    margin-left: 12px;
    margin-top: 4px;
    font-size: 16px;
}   

#threedots {
    margin-right: 10px;
}

.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
}

#threedots:hover .dot {
    background: orangered;
} */

/* #middle-bar {
    border: 1px solid black;
    width: 228px;
}

.share-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#share-text {
    margin-right: 5px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 20px;
}

#share-input {
    text-align: right;
    width: 40px;
    border:1px solid black;
    border-radius: 2px;
    padding-right: 5px;
    margin-right: 20px;
    margin-bottom: 4px;
} */
